nav {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.203);
  position: relative;

  .data {
    margin: 0;
    border: 0.5px solid rgba(255, 255, 255, 0.203);
    border-top: none;
    border-bottom: none;
    padding: 0 20rem;

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      height: 100%;
      list-style-type: none;
      z-index: 1;
      position: relative;

      a {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid transparent;

        li {
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          font-weight: 500;
          letter-spacing: 0.2rem;
        }
      }
    }

    &.open {
      display: block;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
      color: white;
      font-size: 2rem;
      cursor: pointer;
    }

    img {
      cursor: pointer;
      height: 3rem;
    }
  }
}

:root {
  --underline-height: 4px;
  --transition-duration: 0.5s;
}

.underline {
  z-index: 10;
  height: calc(var(--underline-height) / 2);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  background-color: var(--accent-color);
  pointer-events: none;
  transition: calc(var(--transition-duration) * 0.8) ease-in-out;

  &:nth-child(1) {
    transition: calc(var(--transition-duration) * 1.2) ease-in-out;
  }

  &:nth-child(2) {
    transition: calc(var(--transition-duration) * 1.2);
  }
}

@media screen and (max-width: 1080px) {
  nav {
    grid-template-columns: 3rem auto 3rem;

    .data {
      padding: 0 10rem;

      ul {
        grid-template-columns: repeat(3, 1fr); // Adjust for medium screens
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: 1fr; // Stack for smaller screens

    .data {
      padding: 0 1rem;

      ul {
        grid-template-columns: 1fr; // Single column for small screens
      }
    }
  }
}
